
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #161414;
    color: #fff;
  }
  
  #desktop-nav {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .greet {
    font-size: 48px;
    font-weight: bold;
    margin: 10px;
    color: #0f0;
  }
  
  .nav-links {
    list-style: none;
  }
  
  .nav-links li {
    font-weight: bold;
    display: inline;
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #0f0;
    font-size: 36px;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #f0f;
  }
  

  .profile_text1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #0f0;
  }
  
  .name {
    font-size: 80px;
    font-weight: bold;
    font-style: italic; 
    margin-bottom: 20px;
    color: #0f0;
  }
  
  /* Style the profile section */
  #profile {
    background-color: #111;
    padding: 20px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
    border-style: solid;
    border-color: #0f0;
    
  }
  
  .profile_pic_container img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
    border: 5px solid #0f0;
  }
  
  .profile_text2 {
    font-size: 40px;
    color: #0f0;
    margin-bottom: 10px;
  }
  
  .bracu{
    color: #0f0;
    text-decoration: None;
    font-weight: bold;
  }
  
  a.bracu:hover{
    color: #f0f;

  }
  
  .btn-container {
    margin-top: 20px;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 32px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    background-color: #0f0;
    color: #000;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .btn:hover {
    background-color: #f0f;
    color: #000;
  }
  
  #socials-container {
    margin-top: 10px;
  }
  
  .icon {
    width: 60px;
    height: 60px;
    margin: 20px;
    cursor: pointer;
  }
  .dropdown{
    float: right;
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-top: 140px;
  }
  /*-------------------------------about-------------------------------------*/
  #about{
    background-color: #111;
    padding: 60px;
    margin-top: 200px;
    margin-left: 80px;
    margin-right: 80px;
    border-style: solid;
    border-color: #0f0;
    
  }
  .about-container{
    background-color: #000000;
    padding: 40px;
    display: grid;
    grid-template-columns: 500px 1fr;
    max-width: 100%;
    
    
  }
  .about-pic-container img{
    width: 440px;
    height: 440px;
    display: block;
    border: 8px solid #0f0;
    margin-right: 40px;
    max-width: 100%;
  
  }

  .about-text-container{
    width: 1300px;
    height: 370px;
    background-color: rgb(0, 0, 0);
    border: 4px solid #0f0;
    padding: 40px;
    margin-left: 50px;
    color: rgb(255, 255, 255) ;
    font-size: 40px;
    max-width: 100%;
  }

  .about-text1{
    color: #0f0;
    font-size: 40px;

  }
  .about-title{
    margin-bottom: 20px;
    color: #0f0;
    font-size: 80px;
  }


  /* ------------------------Education ----------------------------------*/
  #education {
    margin-top: 200px;
    background-color: #111;
    padding: 60px;
    margin-left: 80px;
    margin-right: 80px;
    border-style: solid;
    border-color: #0f0;
  }
  
  .education-container{
    background-color:#000;
    padding: 60px;
  }

  .education-text1{
    color: #0f0;
    font-size: 40px;

  }
  .education-title{
    color: #0f0;
    font-size: 80px;
    margin-bottom: 20px;
  }
  .education-table{
    height: 80px;
    width: 1900px;
    border-color: #0f0;
    border-style: solid;
    font-size: 30px;
  }
  /* ---------------------------skills------------------------------ */
  
  #skills{
    background-color: #111;
    padding: 80px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 200px;
    border-style: solid;
    border-color: #0f0;
  }
  .skill-text1{
    color: #0f0;
    font-size: 40px;

  }
  .skill-title{
    color: #0f0;
    font-size: 80px;
    margin-bottom: 20px;
  }
  .skill-table{
    height: 80px;
    width: 2000px;
    border-color: #0f0;
    border-style: solid;
    font-size: 30px;
  }
  .skill-icon {
    width: 120px;
    height: 120px;
    margin: 20px;
    cursor: pointer;
  }
  /* ---------------------------Hobbies------------------------------ */
  #hobbies{
    background-color: #111;
    padding: 80px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 200px;
    border-style: solid;
    border-color: #0f0;
    
  }
  .hobbies-container{
    background-color: #000000;
    padding: 60px;
    display: grid;
    grid-template-columns: 500px 1fr;
    
  }
  .hobbies-pic-container img{
    width: 440px;
    height: 560px;
    display: block;
    border: 4px solid #0f0;
    margin-right: 40px;
  
  }

  .hobbies-text-container{
    width: 1300px;
    height: 520px;
    background-color: rgb(0, 0, 0);
    border: 4px solid #0f0;
    padding: 20px;
    margin-bottom: 50px;
    color: rgb(255, 255, 255) ;
    font-size: 35px;
  }

  .hobbies-text1{
    color: #0f0;
    font-size: 40px;

  }
  .hobbies-title{
    margin-bottom: 20px;
    color: #0f0;
    font-size: 80px;
  }



  /* ---------------------------Contact----------------------- */
  #contact {
    margin-top: 200px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: #111;
    padding: 40px;
    text-align: center;
    border-style: solid;
    border-color: #0f0;
  }
  .contact-text{
    font-size: 30px;
    margin-bottom: 10px;
    color:#0f0
    
  }
  .contact-title{
    font-size: 60px;
    color: #0f0;
    margin-bottom: 10px;

  }
  .contact-info-container {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .contact-info-container a {
    color: #0f0;
    margin-bottom: 10px;
  }
  
 
  /* Style the footer */
  footer {
    background-color: #000;
    color: #0f0;
    padding: 20px 0;
    text-align: center;
  }
  
  footer p {
    margin-top: 10px;
  }
  